
<html>

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <!-- <link rel="shortcut icon" href="https://ap.greenwich.edu.vn/favicon.ico" type="image/x-icon"> -->
        <title>Greenwich FPT Academic Portal</title>
        <link rel="Stylesheet" href="Content/bootstrap.css" type="text/css">
        <link rel="Stylesheet" href="Content/bootstrap.min.css" type="text/css"><link rel="Stylesheet" 
        href="Content/bootstrap-theme.min.css" type="text/css">
        <style type="text/css">
            .style1 {
                font-weight: bold;
            }
        </style>
    </head>
    <img src="https://greenwich.edu.vn/wp-content/uploads/2022/05/2022-Greenwich-Eng.png" style = "display: block; margin-left: auto; margin-right:auto; margin-top: 15px; width:400px;"
    {# <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" 
        src="https://greenwich.edu.vn/wp-content/uploads/2021/04/00012-1024x682.jpg" width="887" height="590"> #}
   
            {# <div class="row"> #}
                {# <div class="col-md-12">
                    <img src="https://tse4.explicit.bing.net/th?id=OIP.oRiF_Se22xG_KnNyodbO8gHaEC&amp;pid=Api&amp;P=0"
                     style="display: block; margin-left: auto; margin-right: auto; margin-top: 15px; width: 250px;" alt="">
                </div> #}
    
            {# </div> #}
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <span style="text-align: center; display: flex; justify-content: center; align-items: center; font-weight: 900; font-size: x-large; color: #003399">
                    Academic Portal</span>
    
                </div>
    
            </div>
    </div>
                        <div id="ctl00_divUser" style="float: right; margin-right: 16px;">
                            <a href="?view=user">
                                <span id="ctl00_lblLogIn" class="label label-success"><a href="{{ path('app_logout') }}">Welcome</span></a>
                                 <a style="color: rgb(57, 23, 206);" href="?logout=true" class="label label-success">logout</a> |
                            <span id="ctl00_lblCampusName" class="label label-success"> CAMPUS:</span>
                        </div>
    
                        <ol class="breadcrumb">
                            <li>
                                <span id="ctl00_lblNavigation"></style><b>&nbsp;</b></span></li>
                                <div class="dropdown" style=" list-style-type: none;text-align: center;">
                           
                                                                             
                            <a style="font-size: 20px;  text-decoration: none; color:aliceblue; background:darkturquoise;" 
                            href="Student Manage.php">Student Management</a>

                                                                                 
                               <a style="font-size: 20px;  text-decoration: none;color:aliceblue; background:darkturquoise;;
                               "href="Student Management.html">Academic Transcript</a>

                                                                                    
                                    <a style="font-size: 20px; text-decoration: none;color:aliceblue;background:darkturquoise;;
                                   "href="Student Management.html">Industry management</a>

                                                                                        
                                       <a style="font-size: 20px;font-size: 20px; text-decoration: none;color:aliceblue; background:darkturquoise;"
                                       href="Student Management.html">classroom management</a>
                        </ol>
                        
                        <!-- <table width="100%">
                            <tbody><tr style="border-bottom: 0 none">
                                <td>
                                    <div class="container-fluid" style="border:1px solid #dd18cd;"> -->
                                                                      
                
                                        <style>
                                            #displayed {
                                                display: block;
                                                margin-left: auto;
                                                margin-right: auto;
                                            }
                                            .qr {
                                                float: right;
                                                position: fixed;
                                                bottom: 0px;
                                                right: 0px;
                                            }
                                         .container {
                                                max-width: 100%;
                                            }
                                            body{
                                                font-size: 14px;
                                            }
                                            table {
                                                font-size: 14px;
                                            }
                                            div#exampleModal {
                                                background: rgb(0 0 255 / 20%);
                                            }
                                        </style>
                                        <link rel="Stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" type="text/css">
                                        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
                                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                    
                                                $("#thover").click(function () {
                                                    $(this).fadeOut();
                                                    $("#tpopup").fadeOut();
                                                });
                                    
                                                $("#tclose").click(function () {
                                                    $("#thover").fadeOut();
                                                    $("#tpopup").fadeOut();
                                                });
                                    
                                            });
                                            $(document).ready(function () {
                                                if ($(window).width() < 500) {
                                                    $("#myDiv").removeClass('box topAthletes');
                                                    $("#myDiv").addClass('box');
                                                }
                                                 $('#exampleModal').modal({
                                                    show: true
                                                })
                                            });
                                            
                                            
                                        </script>

                                          </div>
                                        </td>
                                    </tr>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <footer class="text-center text-white mt-4" style="background-color:aqua">
                                    <tr style="border-bottom: 0 none">
                                        <td>
                                            <table width="100%" style="border: 1px solid transparent;" id="cssTable">
            
                                                <tbody><tr>
                                                    <td>
                                                        <div id="ctl00_divSuportCT">
                                                            <strong>Any comments or questions, please contact:</strong> Greenwich VIET NAM, No. 160, 30/4 Street, An Phu Ward, Ninh Kieu District, Can Tho City. Phone: <strong>02923.512.369</strong>
            
                                                        </div>
                                                        
                                                    </td>
            
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="text-align: center">
                                                            © Powered by <a href="https://greenwich.edu.vn/" target="_blank">Greenwich Việt Nam</a>&nbsp;|&nbsp;
                    <a href="http://cms.greenwich.edu.vn/" target="_blank">CMS</a>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody></table>
            
                                        </td>
                                    </tr>
                                </tbody></table>
            
                            </form>
                        </div>
                    </div>
                </div>
                                    </footer>
</html>